
    /*-----
    COLORS
    NAVBAR #333
    CAROUSEL BACKGROUND #101010
  background-color: #878787
  GREEN #74b443
  ORANGE #f1592a
  GREY #6d6e71
    */


    
button{
  margin: 2px;
  border: 0;
  border-radius: 4px;
  background: linear-gradient(178deg, white, #EBEBEB);
  box-shadow: 0 1px 16px 0px rgba(0,0,0,0.25);
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

button:active{
  box-shadow: 0 0 5px 0px black inset;
  border: 0;
}

button:focus{
  outline:  none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f1592a;
    margin: 1em 0;
    padding: 0; 
}



.col-sm-3{
  min-width: 320px;
}

.app{
  background: transparent;
}

.page_wrapper{
  margin: 0 auto;

}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    /* Styles */
    #description_panel{
      height: auto;
    }
    #picture_panel{
      height: auto;
    }
    #style_panel{
      height: auto;
    }
    #vote_panel{
      height:auto;
    }
    #user_panel{
      height:auto;
    }
}

@media screen and (min-width: 1px) {
  @viewport { width: 400px; }
.container {

  display: block;
    width: 100%;
    padding: 0;
    max-width: 1300px;
    text-align: center;

}
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

.container {

  display: block;
    width: 100%;
    padding: 0;
    max-width: 1300px;
    text-align: center;

}
  .navbar-input{
    width: 160px;
  }
}

@media (min-width: 1200px)
{
    html{
    min-width: 600px;
  }
.container {

  display: block;
    width: 100%;
    padding: 0;
    max-width: 1300px;
    text-align: center;
    min-width: 500px;
}
}
