textarea{
  overflow: hidden!important;
  overflow-y: auto!important;
}
.pizza-submit-modal{
    color: black;
    background-color: #fefefe;
    margin: 10% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}

input{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

select{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}
option{
    width: 80%;
    overflow-x: hidden;
}
/*-
.pizza-submit-modal button{
    background-color: #4CAF50;
    border-color: white;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 12px;
    text-align: center;
    color: white;
    float: left;
    width: 50%;
    box-shadow: 0 11px 16px -5px #000;
}*/

.pizza-submit-modal .cancelbtn{
  background-color: #f44336;
}

#modal-chkbox{
  margin: 0px 5px;
}

.modal-inputs{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.registration-modal p{
  margin: 4px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-left{
  text-align: left;
}

#description{
    height: 200px;
    width: 100%;
    padding: 12px 20px;
}
